*{
    margin: 0;
}
#Add{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(201, 157, 76);
    border-radius: 30px;
}
input{
    height: 30px;
    width: 85%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(201, 157, 76);
    margin: 5px;
}
li{
    list-style: none;
    
}
h1{
    text-align: center;
}
img{
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
}